<div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
  <!-- <button class="btn d-block" type="button">Default Button </button> -->

    <button
      class="btn"
      [ngClass]="variant"
      [ngStyle]="{
        'background-color': backgroundColor,
        'color': textColor,
        'border-radius': borderRadius,
        'padding': padding
      }"
      [disabled]="disabled"
    >
      {{ label }}
    </button>
</div>
<!-- <div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
  <button class="btn" [ngClass]="variant">{{ label }}</button>
</div> -->
