<form class="mx-5" [formGroup]="AddContactForm" (ngSubmit)="addRecord()">
  <div class="form-floating">
    <input type="name" class="form-control" formControlName="name" id="name">
    <label for="floatingInput">Name</label>
  </div>
  <div class="form-floating">
    <input type="text" class="form-control" formControlName="email" id="email">
    <label for="email">Email</label>
  </div>
  <div class="form-floating">
    <input type="text" class="form-control" formControlName="phone" id="phone">
    <label for="phone">Phone</label>
  </div>
  <button type="submit" class="btn-primary" [disabled]="AddContactForm.invalid">Create Record</button>
  <!-- <div class="container" [hidden]="true">
    <form class="d-flex my-3">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" (input)="search($event)"
        [(ngModel)]="searchText" name="search">

    </form>
    @if(contacts.length > 0){
    <table class="table table-striped">
      <thead>
        <tr>
          @for(itemsHeder of contactListHeader; track itemsHeder){
          <th>{{itemsHeder}}</th>
          }
        </tr>
      </thead>
      <tbody>
        @if(tempContacts.length>0){
        @for (data of tempContacts; track data._id) {
        <tr>
          @for (key of contactListHeader; track key) {
          <td>{{ data[key] }}</td>
          }
        </tr>
        }
        }
        @else {
        <tr>
          <td [attr.colspan]="contactListHeader.length" class="text-center"> No Search Records Found</td>
        </tr>
        }
      </tbody>

    </table>
    }
    @else {
    <div>No Records Available</div>
    }
  </div> -->


</form>
<app-datatable [data]="tempContacts">
  <ng-template #actions let-item class="d-flex gap-3  ">
    <i class="bi bi-pencil" (click)="onEdit(item._id)"></i>
    <i class="bi bi-trash cursor-pointer" (click)="removeContact(item._id)"></i>
  </ng-template>
</app-datatable>
